<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing item size</h1>

  <%= render "form", item_size: @item_size %>

  <%= link_to "Show this item size", @item_size, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to item sizes", item_sizes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
