<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing item size</h1>
  <%= render "form", item_size: @item_size %>
  <%= link_to "Show this item size", @item_size, class: "btn btn-primary btn-outline" %>
  <%= link_to "Back to item sizes", item_sizes_path, class: "btn btn-primary btn-outline" %>
</div>
