<div class="border border-neutral p-4 rounded-xl max-w-[72rem]">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user do %><%= user.name %><% end %></td>
          <td><%= user.email %></td>
          <td>
            <div class="flex flex-row gap-2">
              <%= button_to "Delete", user_path(user), method: :delete, class: "btn btn-outline" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
