<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  window.ArtGenerator = ArtGenerator
</script>
<%= link_to art, class: "group bg-black w-64 h-64 relative", id: (dom_id art) do %>
  <div class="h-full w-full absolute z-40 flex flex-col justify-between text-[#FFFFFF]/0 group-hover:text-[#FFFFFF]/100 p-4 bg-[#000000]/0 group-hover:bg-[#000000]/50 select-none transition-all">
    <% if art.name? %>
      <div class="text-xl font-bold"><%= art.name %></div>
    <% else %>
      <div class="text-xl font-bold">No name</div>
    <% end %>
    <div class="text-md"><%= User.find(art.user_id).name %></div>
  </div>
  <div class="h-full w-full absolute z-30">
    <%= render "shared/components/graphics/canvas",
      art_data: art.data,
      id: (dom_id art),
      isStatic: true,
      isSVG: false %>
  </div>
<% end %>
