<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  window.ArtGenerator = ArtGenerator
</script>
<div class="w-full h-screen pt-16">
  <div class="h-full w-full flex">
  <%= render "shared/components/graphics/canvas", art_data: art.data, id: (dom_id art), isStatic: true, isSVG: true %>
  </div>
<div>
