<%= form_with(model: setting, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :artist_rate %>
    <%= form.text_field :artist_rate, class: "input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
