<div id="<%= dom_id setting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Artist rate:</strong>
    <%= setting.artist_rate %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this setting", setting, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this setting', edit_setting_path(setting), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
