<% if user_signed_in? && current_user.is_admin? %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Editing order</h1>
    <%= render "form", order: @order %>
    <%= link_to "Show this order", @order, class: "btn btn-primary btn-outline" %>
    <%= link_to "Back to orders", orders_path, class: "btn btn-primary btn-outline" %>
  </div>
<% else %>
  <%= render "shared/errors/401" %>
<% end %>

