<div id="<%= dom_id art %>" class="card bg-base-100 shadow-xl">
  <div class="w-96 bg-base-100"></div>
  <div class="card-body">
    <h2 class="card-title"><%= art.name %></h2>
    <div class="card-actions justify-end">
      <% if action_name != "show" %>
        <%= link_to "Show this art", art, class: "btn", data: {turbo: false} %>
        <%= link_to 'Edit this art', edit_art_path(art), class: "btn", data: {turbo: false} %>
      <% end %>
    </div>
  </div>
</div>