<div>
  <%= render "shared/components/hero" %>
  <div id="arts" class="absolute -mt-20"></div>
  <div class="flex flex-col items-center px-6 py-12 gap-8">
    <%= paginate @arts_kaminari %>
    <div class="flex flex-row flex-wrap justify-center gap-2">
      <% @arts_kaminari.each do |art| %>
      <%= render "shared/components/graphics/art_link", art: art %>
      <% end %>
    </div>
    <%= paginate @arts_kaminari %>
  </div>
</div>
