<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= render "shared/components/hero" %>
  <div id="arts" class="flex flex-row flex-wrap gap-4 p-16">
    <% @arts.each do |art| %>
      <%= render "shared/components/graphics/art_icon", art: art %>
    <% end %>
  </div>
</div>
