<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this item", item, class: "btn btn-primary btn-outline" %>
    <%= link_to 'Edit this item', edit_item_path(item), class: "btn btn-primary btn-outline" %>
    <hr class="mt-6">
  <% end %>
</div>
