<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  window.ArtGenerator = ArtGenerator
</script>
<div class="w-full flex flex-col items-center justify-center gap-6">
  <div class="text-2xl font-bold">Items</div>
  <%= link_to 'New item', new_item_path, class: "btn btn-primary" %>
  <%= render "shared/components/tables/items", items: @items %>
</div>
