<script type="application/javascript">
  var layers = new Array()

  function setup() {
    var canvas = createCanvas(400,400)
    canvas.parent('p5js')
    background(255)
  }
</script>
<div id="p5js">
</div>
