<% if success %>
  <div class="alert border border-success justify-start">
    <i class="ph ph-check-circle text-2xl text-success"></i>
    <span class="text-success"><%= success %></span>
  </div>
<% end %>
<% if notice %>
  <div class="alert border border-info justify-start">
    <i class="ph ph-info text-2xl text-info"></i>
    <span class="text-info"><%= notice %></span>
  </div>
<% end %>
<% if alert %>
  <div class="alert border border-warning justify-start">
    <i class="ph ph-alert text-2xl text-warning"></i>
    <span class="text-warning"><%= alert %></span>
  </div>
<% end %>
<% if error %>
  <div class="alert border border-error justify-start">
    <i class="ph ph-x-circle text-2xl text-error"></i>
    <span class="text-error"><%= error %></span>
  </div>
<% end %>
